{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Register</h3>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}                
                {{ form_row(registrationForm.plainPassword.first) }}
                {{ form_row(registrationForm.plainPassword.second) }}
                
                {{ form_row(registrationForm.terms) }}  
                <!-- <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                    
                    <label class="custom-control-label" for="terms"> <a href="#"> I accept Terms and Conditions</a>  </label>
                </div>-->

                <button class="btn btn-primary mt-2" type="submit">Register!</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
</div>
<!--

<form>
    <div class="form-group">                        
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">                        
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">                        
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>            
-->

{% endblock %}